* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;  
}

.section_color { 
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa9838 ;
    border-bottom: 3px solid #465d13;
}

.redes {
    display: flex;
    list-style: none;
    margin-top:1.5rem;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.redes_link .fa-brands{
    text-decoration: none;
    color: #465d13;
    font-size: 3.5rem;
}

.redes_link:hover > .fa-brands{
    color: #ccbf9f;
}

.section_imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.img_perfil {
    width: 60%;
    border-radius: 50%;
    border: 1px solid #465d13;  
}

.section_texto {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lumanosimo', cursive;
    background-color: #ebc3ae;
}

.nombre {
    font-family: 'Kalam', cursive; 
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 1.75rem;
    margin-top: 1.5rem;
}

.info {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
}

.info_parrafo {
    margin-bottom: 1rem;
}

.listado_fotos {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ccbf9f;
    border-top: 3px solid #a68a5a;
    bottom: 0;
}

.img_sepia {
    width: 30%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #a68a5a;
}

footer {
    height: 10vh;
    background-color: #aa9838;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-top: 3px solid #465d13;
    font-family: 'Lumanosimo', cursive;
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .section_color {
        width: 50%; 
        border-bottom: none;
        border-right: 3px solid #465d13;
    }

    .section_texto {
        width: 50%;
    }
  }



/* paleta de colores 
.color1 { #aa9838 };
.color2 { #ebc3ae };
.color3 { #465d13 };
.color4 { #a68a5a };
.color5 { #ccbf9f };
 */